<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>
      {% block title %}
        University Church
      {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- SEO Meta Tags -->
    <meta name="keywords"
      content="{% block meta_keywords %}
        
        
        
        유니버시티 교회, University Church, 메릴랜드 대학, 신앙 공동체, 교회, 예배, 성경 공부



      {% endblock %}" />
    <meta name="description"
      content="{% block meta_description %}
        
        
        
        유니버시티 교회 공식 홈페이지. 50여년간 메릴랜드 대학 가족과 지역 이민사회가 함께 세워 온 신앙 공동체.



      {% endblock %}" />

    <!-- Open Graph Meta Tags -->
    <meta property="og:image" content="https://images.squarespace-cdn.com/content/v1/6732bd65ccc0e358adb9002a/59243f07-253d-4cf4-b918-60bb34cb810b/ucmlogo.png%3Fformat=1500w" />

    <!-- Favicon -->
    <link href="https://images.squarespace-cdn.com/content/v1/6732bd65ccc0e358adb9002a/59243f07-253d-4cf4-b918-60bb34cb810b/ucmlogo.png%3Fformat=1500w" rel="icon" />

    <!-- External CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="/static/lib/animate/animate.min.css" rel="stylesheet" />
    <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Additional Page-Specific CSS -->
    {% block css %}

    {% endblock %}
  </head>
  <body>
    <!-- Navbar Start -->
    <!-- Navbar Start -->
    <header>
      <div class="container-fluid nav-bar bg-transparent">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-0 px-4">
          <a href="/" class="navbar-brand d-flex align-items-center text-center">
            <div class="icon p-1 me-4">
              <img class="img-fluid" src="https://images.squarespace-cdn.com/content/v1/6732bd65ccc0e358adb9002a/59243f07-253d-4cf4-b918-60bb34cb810b/ucmlogo.png%3Fformat=1500w" alt="Church Logo" style="width: 50px; height: 50px;" />
            </div>
            <!-- Desktop and tablet view -->
            <h1 class="m-0 text-primary d-none d-md-block" style="font-size: 18px;">University Church</h1>
            <!-- Mobile view -->
            <h1 class="m-0 text-primary d-block d-md-none" style="font-size: 18px;">Uni Church</h1>
          </a>

          <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto">
              <a href="/" class="nav-item nav-link {% if active_page == 'home' %}active{% endif %}">Home</a>
              <a href="/#pastor-section" class="nav-item nav-link">About</a>
              <a href="/upload" class="nav-item nav-link {% if active_page == 'upload' %}active{% endif %}">자료공유</a>
              <a href="https://www.youtube.com/@uchurchmd" class="btn btn-outline-red">UChurchMD TV</a>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- Navbar End -->

    <!-- Navbar End -->

    <!-- Main Content -->
    <main>
      {% block content %}

      {% endblock %}
    </main>

    <!-- Footer Start -->
    <footer>
      <div class="container-fluid bg-dark text-white-50 footer pt-3 mt-3 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-2">
          <div class="row g-5">
            <div class="col-lg-4 col-md-6">
              <h5 class="text-white mb-4">Get In Touch</h5>
              <p class="mb-2">
                <i class="fa fa-map-marker-alt me-3"></i>8108 54th Ave. College Park, MD 20740
              </p>
              <p class="mb-2">
                <i class="fa fa-envelope me-3"></i>info@uchurchmd.org
              </p>
              <div class="d-flex pt-2">
                <a class="btn btn-outline-light btn-social" href="https://www.instagram.com/uchurchmd" target="_blank"><i class="fab fa-instagram"></i></a>
                <a class="btn btn-outline-light btn-social" href="https://open.kakao.com/o/yourlink" target="_blank">KakaoTalk</a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <h5 class="text-white mb-4">Version Info</h5>
              <p>Current Version: 1.0.0</p>
              <p>
                Developed By <a class="border-bottom" href="https://github.com/sueun-dev">Sueun Cho</a>
              </p>
            </div>
            <div class="col-lg-4 col-md-6">
              <h5 class="text-white mb-4">Legal</h5>
              <p>Unauthorized use of content is strictly prohibited.</p>
              <p>
                For inquiries, contact us at
                <a href="mailto:info@uchurchmd.org" class="text-white">info@uchurchmd.org</a>.
              </p>
              <p>
                &copy; <a class="border-bottom" href="#">University Church</a>, All Right Reserved.
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer End -->

    <!-- External JS Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/lib/wow/wow.min.js"></script>
    <script src="/static/lib/easing/easing.min.js"></script>
    <script src="/static/lib/waypoints/waypoints.min.js"></script>
    <script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/static/js/main.js"></script>
  </body>
</html>
